name: Deploy
on:
  push:
  #  branches:
  #    - main
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: cargo install --version 0.9.1 wasm-pack
      - run: wasm-pack build --out-dir .
        working-directory: packages/core-wasm

      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: npm install -g npm@7
      - run: npm ci

      - run: npm run --workspace=website build
        env:
          SENTRY_DSN: ${{secrets.SENTRY_DSN}}

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: packages/website/dist
